In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
crashes = pd.read_csv('./data/Traffic_Crashes_-_Crashes_20241213.csv', low_memory = False)
crashes.head()

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,23a79931ef555d54118f64dc9be2cf2dbf59636ce253f7...,NaN,09/05/2023 07:05:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DUSK,ANGLE,"FIVE POINT, OR MORE",...,2.0,0.0,2.0,0.0,19,3,9,NaN,NaN,NaN
1,2675c13fd0f474d730a5b780968b3cafc7c12d7adb661f...,NaN,09/22/2023 06:45:00 PM,50,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN BARRIER,...,0.0,0.0,2.0,0.0,18,6,9,NaN,NaN,NaN
2,5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4...,NaN,07/29/2023 02:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,1.0,0.0,14,7,7,41.85412,-87.665902,POINT (-87.665902342962 41.854120262952)
3,7ebf015016f83d09b321afd671a836d6b148330535d5df...,NaN,08/09/2023 11:00:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,NOT DIVIDED,...,0.0,0.0,2.0,0.0,23,4,8,NaN,NaN,NaN
4,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,NaN,08/18/2023 12:50:00 PM,15,OTHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,OTHER,...,1.0,0.0,1.0,0.0,12,6,8,NaN,NaN,NaN

In [3]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901139 entries, 0 to 901138
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                901139 non-null  object
 1   CRASH_DATE_EST_I               66510 non-null   object
 2   CRASH_DATE                     901139 non-null  object
 3   POSTED_SPEED_LIMIT             901139 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         901139 non-null  object
 5   DEVICE_CONDITION               901139 non-null  object
 6   WEATHER_CONDITION              901139 non-null  object
 7   LIGHTING_CONDITION             901139 non-null  object
 8   FIRST_CRASH_TYPE               901139 non-null  object
 9   TRAFFICWAY_TYPE                901139 non-null  object
 10  LANE_CNT                       199022 non-null  float64
 11  ALIGNMENT                      901139 non-null  object
 12  ROADWAY_SURFACE_COND           901139 non-null  object
 13  ROAD_DEFECT                    901139 non-null  object
 14  REPORT_TYPE                    873088 non-null  object
 15  CRASH_TYPE                     901139 non-null  object
 16  INTERSECTION_RELATED_I         206980 non-null  object
 17  NOT_RIGHT_OF_WAY_I             41028 non-null   object
 18  HIT_AND_RUN_I                  282609 non-null  object
 19  DAMAGE                         901139 non-null  object
 20  DATE_POLICE_NOTIFIED           901139 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        901139 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         901139 non-null  object
 23  STREET_NO                      901139 non-null  int64
 24  STREET_DIRECTION               901135 non-null  object
 25  STREET_NAME                    901138 non-null  object
 26  BEAT_OF_OCCURRENCE             901134 non-null  float64
 27  PHOTOS_TAKEN_I                 12318 non-null   object
 28  STATEMENTS_TAKEN_I             20735 non-null   object
 29  DOORING_I                      2855 non-null    object
 30  WORK_ZONE_I                    5032 non-null    object
 31  WORK_ZONE_TYPE                 3885 non-null    object
 32  WORKERS_PRESENT_I              1297 non-null    object
 33  NUM_UNITS                      901139 non-null  int64
 34  MOST_SEVERE_INJURY             899146 non-null  object
 35  INJURIES_TOTAL                 899160 non-null  float64
 36  INJURIES_FATAL                 899160 non-null  float64
 37  INJURIES_INCAPACITATING        899160 non-null  float64
 38  INJURIES_NON_INCAPACITATING    899160 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  899160 non-null  float64
 40  INJURIES_NO_INDICATION         899160 non-null  float64
 41  INJURIES_UNKNOWN               899160 non-null  float64
 42  CRASH_HOUR                     901139 non-null  int64
 43  CRASH_DAY_OF_WEEK              901139 non-null  int64
 44  CRASH_MONTH                    901139 non-null  int64
 45  LATITUDE                       894614 non-null  float64
 46  LONGITUDE                      894614 non-null  float64
 47  LOCATION                       894614 non-null  object
dtypes: float64(11), int64(6), object(31)
memory usage: 330.0+ MB

In [4]:
crashes.columns = crashes.columns.str.lower()

In [5]:
# Convert all string values in object columns to lowercase
for col in crashes.select_dtypes(include='object').columns:
    crashes[col] = crashes[col].str.lower()

In [6]:
for feature in crashes.columns:
    print(f"Value counts for column '{feature}':")
    print(crashes[feature].value_counts())
    
    # Print the number of unique values in the feature
    num_unique = crashes[feature].nunique()
    print(f"Number of unique values: {num_unique}")
    
    print("\n")

Value counts for column 'crash_record_id':
23a79931ef555d54118f64dc9be2cf2dbf59636ce253f7a1179c4a1c091442a6eeab8352220c7c56ca1ff7c4b4b0fc345c74e3e85ecb9d43deeb66b5f803d4a0    1
b0d42da7104bd42da66181d0ae9fffccc2cddbc307bb3b30929ca5ed1a948820d1dae031caad094ba69225183583548a49515e44f074d629bd1426d89fa34eec    1
b0d3360cc7c5e14d3126df7800613a39297c8fcf05f235c6f7e8f02fb4de2ee31320726f54895ae251c7bed3c146a27ee745cdd3f083b67a99edcdd70ef8acab    1
b0d3452578021e870798d93f9e4ca4ae4deba0886bf75a341154ae84c6b775460d3914308dba6f6e0a85c5aeebaf0b60318aa172c03c459dd84618963ff69575    1
b0d38a79008aca24c68a480f860de5f51c5e15666e7a0cd1ec2a81eda7ee4ab780017a0fce8f1c42252adcccfbcc3954033931d1980a9541aca13f78ba8b4e20    1
                                                                                                                                   ..
55957f6702888bc36f2747c23cc6076efae946a513800c6e302d388ab6508cbb1a4e52717539501b232e97cafed1a54a74e66079e7b5409f3d49b568affe6b68    1
55958429eb6468985f2dd63621c096558ed99617e1fd3efd40d7cd747e34982dfb5218a16adea98103cb7e911504b5b80cfa05696976ab51e8a3a34364329927    1
559588eaab944fdf3cec6173bac665d6a5d0b64366c830331b993b95dbe39685546bcde396ec8212bcda97c77cad921da1072c74a58606f70d5768965e072691    1
55958df2040e6804a0dea9f3fe2af5f399c0806e27d2283f6edc84e0a383c90aef20fa2bec8104b08e4f4314a11a6288833252039b9adad7572281fde7675ca0    1
080a7c455bddc21abc5f396a4ea8db9a4387a154680fcc5513b7c5f3b2ce2528710099b46fe0082ba2e9b0434a2b8fda71e122584bf11482ef8d396da8937194    1
Name: crash_record_id, Length: 901139, dtype: int64
Number of unique values: 901139


Value counts for column 'crash_date_est_i':
y    57974
n     8536
Name: crash_date_est_i, dtype: int64
Number of unique values: 2


Value counts for column 'crash_date':
12/29/2020 05:00:00 pm    30
11/10/2017 10:30:00 am    27
02/17/2022 03:30:00 pm    21
11/21/2024 10:30:00 am    20
11/21/2024 10:00:00 am    20
                          ..
04/22/2023 12:42:00 pm     1
10/06/2017 12:15:00 pm     1
09/24/2020 08:28:00 am     1
10/07/2022 01:43:00 am     1
03/15/2022 02:00:00 am     1
Name: crash_date, Length: 592691, dtype: int64
Number of unique values: 592691


Value counts for column 'posted_speed_limit':
30    663804
35     59613
25     57769
20     37704
15     32102
10     21091
40      8610
0       7584
45      5950
5       4955
55       883
50       276
3        221
9         96
39        95
99        66
60        53
1         41
24        38
2         31
65        20
32        20
34        16
33        14
11        11
26        11
36         8
6          7
70         7
7          6
18         4
12         4
22         4
14         4
23         3
29         3
31         2
8          2
38         2
16         2
4          2
62         1
63         1
44         1
49         1
46         1
Name: posted_speed_limit, dtype: int64
Number of unique values: 46


Value counts for column 'traffic_control_device':
no controls                 510110
traffic signal              249801
stop sign/flasher            89327
unknown                      38316
other                         6094
yield                         1365
lane use marking              1226
other reg. sign               1103
other warning sign             715
pedestrian crossing sign       636
railroad crossing gate         581
flashing control signal        373
school zone                    352
delineators                    352
police/flagman                 309
rr crossing sign               195
other railroad crossing        192
no passing                      58
bicycle crossing sign           34
Name: traffic_control_device, dtype: int64
Number of unique values: 19


Value counts for column 'device_condition':
no controls                 516157
functioning properly        307678
unknown                      63400
other                         6835
functioning improperly        4113
not functioning               2562
worn reflective material       295
missing                         99
Name: device_condition, dtype: int64
Number of unique values: 8


Value counts for column 'weather_condition':
clear                       708955
rain                         77961
unknown                      51483
snow                         28844
cloudy/overcast              26324
other                         2789
freezing rain/drizzle         1787
fog/smoke/haze                1353
sleet/hail                    1026
blowing snow                   453
severe cross wind gate         156
blowing sand, soil, dirt         8
Name: weather_condition, dtype: int64
Number of unique values: 12


Value counts for column 'lighting_condition':
daylight                  578393
darkness, lighted road    197001
unknown                    42554
darkness                   42432
dusk                       25724
dawn                       15035
Name: lighting_condition, dtype: int64
Number of unique values: 6


Value counts for column 'first_crash_type':
parked motor vehicle            208598
rear end                        199254
sideswipe same direction        138441
turning                         129625
angle                            97953
fixed object                     41861
pedestrian                       21311
pedalcyclist                     14329
sideswipe opposite direction     12506
rear to front                     9246
other object                      8977
head on                           7638
rear to side                      5505
other noncollision                2744
rear to rear                      1907
animal                             655
overturned                         543
train                               46
Name: first_crash_type, dtype: int64
Number of unique values: 18


Value counts for column 'trafficway_type':
not divided                        388117
divided - w/median (not raised)    142419
one-way                            114038
four way                            62524
parking lot                         60996
divided - w/median barrier          50934
other                               24383
alley                               14794
t-intersection                      12405
unknown                             10602
center turn lane                     6369
driveway                             2889
ramp                                 2831
unknown intersection type            2761
five point, or more                  1383
y-intersection                       1349
traffic route                        1165
not reported                          686
roundabout                            308
l-intersection                        186
Name: trafficway_type, dtype: int64
Number of unique values: 20


Value counts for column 'lane_cnt':
2.0          91162
4.0          49589
1.0          32550
3.0           8678
0.0           8032
6.0           4502
5.0           1940
8.0           1908
7.0            184
10.0           162
99.0           108
9.0             66
11.0            30
12.0            29
20.0            15
22.0            13
15.0             7
16.0             7
14.0             5
30.0             5
40.0             4
60.0             3
21.0             3
25.0             2
100.0            2
902.0            1
24.0             1
80.0             1
218474.0         1
45.0             1
17.0             1
299679.0         1
19.0             1
400.0            1
13.0             1
1191625.0        1
35.0             1
433634.0         1
41.0             1
28.0             1
44.0             1
Name: lane_cnt, dtype: int64
Number of unique values: 41


Value counts for column 'alignment':
straight and level       879803
straight on grade         11018
curve, level               6350
straight on hillcrest      2267
curve on grade             1312
curve on hillcrest          389
Name: alignment, dtype: int64
Number of unique values: 6


Value counts for column 'roadway_surface_cond':
dry                666956
wet                117321
unknown             80052
snow or slush       28524
ice                  5676
other                2288
sand, mud, dirt       322
Name: roadway_surface_cond, dtype: int64
Number of unique values: 7


Value counts for column 'road_defect':
no defects           717800
unknown              166153
rut, holes             6349
other                  4891
worn surface           3739
shoulder defect        1547
debris on roadway       660
Name: road_defect, dtype: int64
Number of unique values: 7


Value counts for column 'report_type':
not on scene (desk report)    490558
on scene                      382290
amended                          240
Name: report_type, dtype: int64

Number of unique values: 3


Value counts for column 'crash_type':
no injury / drive away              658618
injury and / or tow due to crash    242521
Name: crash_type, dtype: int64
Number of unique values: 2


Value counts for column 'intersection_related_i':
y    197110
n      9870
Name: intersection_related_i, dtype: int64
Number of unique values: 2


Value counts for column 'not_right_of_way_i':
y    37261
n     3767
Name: not_right_of_way_i, dtype: int64
Number of unique values: 2


Value counts for column 'hit_and_run_i':
y    270506
n     12103
Name: hit_and_run_i, dtype: int64
Number of unique values: 2


Value counts for column 'damage':
over $1,500      567486
$501 - $1,500    232551
$500 or less     101102
Name: damage, dtype: int64
Number of unique values: 3


Value counts for column 'date_police_notified':
10/12/2020 04:00:00 pm    12
02/26/2020 08:30:00 am    12
12/01/2023 05:30:00 pm    12
11/05/2024 03:00:00 pm    11
10/18/2023 04:00:00 pm    11
                          ..
07/14/2018 11:45:00 am     1
01/10/2017 12:18:00 pm     1
07/08/2017 02:40:00 pm     1
11/05/2021 01:03:00 pm     1
06/18/2020 04:30:00 pm     1
Name: date_police_notified, Length: 682604, dtype: int64
Number of unique values: 682604


Value counts for column 'prim_contributory_cause':
unable to determine                                                                 352571
failing to yield right-of-way                                                        99546
following too closely                                                                86919
not applicable                                                                       47624
improper overtaking/passing                                                          44947
failing to reduce speed to avoid crash                                               37851
improper backing                                                                     34781
improper lane usage                                                                  32096
driving skills/knowledge/experience                                                  30620
improper turning/no signal                                                           30193
disregarding traffic signals                                                         17602
weather                                                                              12961
operating vehicle in erratic, reckless, careless, negligent or aggressive manner     11346
disregarding stop sign                                                                9605
distraction - from inside vehicle                                                     6091
equipment - vehicle condition                                                         5574
physical condition of driver                                                          5305
vision obscured (signs, tree limbs, buildings, etc.)                                  5112
driving on wrong side/wrong way                                                       4882
under the influence of alcohol/drugs (use when arrest is effected)                    4183
distraction - from outside vehicle                                                    3612
road engineering/surface/marking defects                                              2129
exceeding authorized speed limit                                                      1982
disregarding other traffic signs                                                      1914
road construction/maintenance                                                         1883
exceeding safe speed for conditions                                                   1684
evasive action due to animal, object, nonmotorist                                     1627
cell phone use other than texting                                                     1188
disregarding road markings                                                            1106
had been drinking (use when arrest is not made)                                        904
animal                                                                                 766
turning right on red                                                                   687
related to bus stop                                                                    480
distraction - other electronic device (navigation device, dvd player, etc.)            425
texting                                                                                343
disregarding yield sign                                                                279
passing stopped school bus                                                             110
obstructed crosswalks                                                                  100
bicycle advancing legally on red light                                                  88
motorcycle advancing legally on red light                                               23
Name: prim_contributory_cause, dtype: int64
Number of unique values: 40


Value counts for column 'sec_contributory_cause':
not applicable                                                                      371522
unable to determine                                                                 324776
failing to reduce speed to avoid crash                                               33149
failing to yield right-of-way                                                        28908
driving skills/knowledge/experience                                                  28091
following too closely                                                                23725
improper overtaking/passing                                                          14013
improper lane usage                                                                  12688
weather                                                                               9915
improper turning/no signal                                                            9379
improper backing                                                                      7191
operating vehicle in erratic, reckless, careless, negligent or aggressive manner      5561
disregarding traffic signals                                                          3658
vision obscured (signs, tree limbs, buildings, etc.)                                  2792
physical condition of driver                                                          2724
distraction - from inside vehicle                                                     2688
disregarding stop sign                                                                2605
driving on wrong side/wrong way                                                       1899
equipment - vehicle condition                                                         1825
exceeding authorized speed limit                                                      1473
distraction - from outside vehicle                                                    1464
under the influence of alcohol/drugs (use when arrest is effected)                    1459
exceeding safe speed for conditions                                                   1438
had been drinking (use when arrest is not made)                                       1059
road construction/maintenance                                                         1029
disregarding other traffic signs                                                       915
disregarding road markings                                                             883
road engineering/surface/marking defects                                               834
cell phone use other than texting                                                      674
evasive action due to animal, object, nonmotorist                                      471
related to bus stop                                                                    436
animal                                                                                 427
turning right on red                                                                   350
distraction - other electronic device (navigation device, dvd player, etc.)            255
bicycle advancing legally on red light                                                 231
disregarding yield sign                                                                224
texting                                                                                159
obstructed crosswalks                                                                   98
passing stopped school bus                                                              93
motorcycle advancing legally on red light                                               58
Name: sec_contributory_cause, dtype: int64

Number of unique values: 40


Value counts for column 'street_no':
1600    5743
100     5295
800     5199
200     4939
300     4411
        ...
9766       1
8088       1
9568       1
9665       1
9990       1
Name: street_no, Length: 11833, dtype: int64
Number of unique values: 11833


Value counts for column 'street_direction':
w    322675
s    300969
n    216673
e     60818
Name: street_direction, dtype: int64
Number of unique values: 4


Value counts for column 'street_name':
western ave        24612
pulaski rd         21766
cicero ave         20275
ashland ave        19600
halsted st         17433
                   ...
grenshaw               1
lasalle st             1
cortez dr              1
sacremento blvd        1
29th pl                1
Name: street_name, Length: 1648, dtype: int64
Number of unique values: 1648


Value counts for column 'beat_of_occurrence':
1834.0    10911
114.0      9277
813.0      9088
815.0      8586
1831.0     8241
          ...
1653.0      501
1655.0      313
1652.0      241
1650.0       69
6100.0        7
Name: beat_of_occurrence, Length: 276, dtype: int64
Number of unique values: 276


Value counts for column 'photos_taken_i':
y    9278
n    3040
Name: photos_taken_i, dtype: int64
Number of unique values: 2


Value counts for column 'statements_taken_i':
y    16978
n     3757
Name: statements_taken_i, dtype: int64
Number of unique values: 2


Value counts for column 'dooring_i':
y    1919
n     936
Name: dooring_i, dtype: int64
Number of unique values: 2


Value counts for column 'work_zone_i':
y    3885
n    1147
Name: work_zone_i, dtype: int64
Number of unique values: 2


Value counts for column 'work_zone_type':
construction    2696
unknown          546
maintenance      401
utility          242
Name: work_zone_type, dtype: int64
Number of unique values: 4


Value counts for column 'workers_present_i':
y    1150
n     147
Name: workers_present_i, dtype: int64
Number of unique values: 2


Value counts for column 'num_units':
2     789109
3      49692
1      49316
4       9599
5       2341
6        669
7        229
8         99
9         41
10        20
11         8
18         5
12         5
14         2
16         2
13         1
15         1
Name: num_units, dtype: int64
Number of unique values: 17


Value counts for column 'most_severe_injury':
no indication of injury     772538
nonincapacitating injury     71100
reported, not evident        39452
incapacitating injury        15071
fatal                          985
Name: most_severe_injury, dtype: int64
Number of unique values: 5


Value counts for column 'injuries_total':
0.0     772552
1.0      95158
2.0      21261
3.0       6476
4.0       2302
5.0        824
6.0        325
7.0        132
8.0         53
9.0         27
10.0        16
11.0         9
15.0         8
12.0         6
21.0         4
13.0         3
17.0         1
14.0         1
19.0         1
16.0         1
Name: injuries_total, dtype: int64
Number of unique values: 20


Value counts for column 'injuries_fatal':
0.0    898175
1.0       912
2.0        64
3.0         8
4.0         1
Name: injuries_fatal, dtype: int64
Number of unique values: 5


Value counts for column 'injuries_incapacitating':
0.0     883939
1.0      13368
2.0       1395
3.0        312
4.0        106
5.0         29
6.0          7
7.0          2
10.0         1
8.0          1
Name: injuries_incapacitating, dtype: int64
Number of unique values: 10


Value counts for column 'injuries_non_incapacitating':
0.0     825312
1.0      57875
2.0      10997
3.0       3211
4.0       1110
5.0        385
6.0        159
7.0         54
8.0         22
10.0         9
9.0          8
11.0         6
12.0         4
21.0         2
14.0         1
19.0         1
18.0         1
15.0         1
16.0         1
13.0         1
Name: injuries_non_incapacitating, dtype: int64
Number of unique values: 20


Value counts for column 'injuries_reported_not_evident':
0.0     855152
1.0      34181
2.0       7098
3.0       1834
4.0        580
5.0        200
6.0         55
7.0         27
8.0         13
9.0         10
10.0         6
11.0         2
15.0         2
Name: injuries_reported_not_evident, dtype: int64
Number of unique values: 13


Value counts for column 'injuries_no_indication':
2.0     418203
1.0     275578
3.0     113292
4.0      42285
0.0      19310
5.0      17748
6.0       7359
7.0       2863
8.0       1273
9.0        529
10.0       259
11.0       120
12.0        77
13.0        45
14.0        41
15.0        23
16.0        22
17.0        18
20.0        13
19.0         9
29.0         7
21.0         7
22.0         6
37.0         6
26.0         6
18.0         5
36.0         5
27.0         5
30.0         5
24.0         5
25.0         4
31.0         4
42.0         4
28.0         3
34.0         2
32.0         2
45.0         2
40.0         2
33.0         2
38.0         1
41.0         1
39.0         1
35.0         1
50.0         1
23.0         1
61.0         1
43.0         1
46.0         1
48.0         1
49.0         1
Name: injuries_no_indication, dtype: int64
Number of unique values: 50


Value counts for column 'injuries_unknown':
0.0    899160
Name: injuries_unknown, dtype: int64
Number of unique values: 1


Value counts for column 'crash_hour':
15    69800
16    68971
17    67118
14    60162
18    55358
13    54466
12    52798
8     47667
11    45727
9     41211
10    40925
19    40819
7     38191
20    32991
21    29433
22    27101
23    23503
0     19628
6     19482
1     16757
2     14333
5     12385
3     11843
4     10470
Name: crash_hour, dtype: int64
Number of unique values: 24


Value counts for column 'crash_day_of_week':
6    145908
7    133151
5    129660
3    128444
4    127867
2    123617
1    112492
Name: crash_day_of_week, dtype: int64
Number of unique values: 7


Value counts for column 'crash_month':
10    86679
9     82227
8     80821
7     78568
11    78174
6     77697
5     77268
12    74125
3     67811
4     66417
1     66068
2     65284
Name: crash_month, dtype: int64
Number of unique values: 12


Value counts for column 'latitude':
41.976201    1438
41.900959     817
41.791420     628
41.751461     614
41.722257     489
             ...
41.690907       1
41.814617       1
41.867208       1
41.955675       1
41.777927       1
Name: latitude, Length: 319268, dtype: int64
Number of unique values: 319268


Value counts for column 'longitude':
-87.905309    1438
-87.619928     817
-87.580148     628
-87.585972     614
-87.585276     489
              ...
-87.613687       1
-87.685498       1
-87.664463       1
-87.627316       1
-87.638835       1
Name: longitude, Length: 319233, dtype: int64
Number of unique values: 319233


Value counts for column 'location':
point (-87.905309125103 41.976201139024)    1438
point (-87.619928173678 41.900958919109)     817
point (-87.580147768689 41.791420282098)     628
point (-87.585971992965 41.751460603167)     614
point (-87.585275565077 41.722257273006)     489
                                            ...
point (-87.727570178958 41.869036369579)       1
point (-87.612284279634 41.748561667768)       1
point (-87.613687058241 41.810286678619)       1
point (-87.685497586759 41.890570708237)       1
point (-87.638834655301 41.777926777918)       1
Name: location, Length: 319471, dtype: int64
Number of unique values: 319471

In [7]:
missing_percentage = round((crashes.isna().sum()/len(crashes)*100), 2)
missing_percentage

crash_record_id                   0.00
crash_date_est_i                 92.62
crash_date                        0.00
posted_speed_limit                0.00
traffic_control_device            0.00
device_condition                  0.00
weather_condition                 0.00
lighting_condition                0.00
first_crash_type                  0.00
trafficway_type                   0.00
lane_cnt                         77.91
alignment                         0.00
roadway_surface_cond              0.00
road_defect                       0.00
report_type                       3.11
crash_type                        0.00
intersection_related_i           77.03
not_right_of_way_i               95.45
hit_and_run_i                    68.64
damage                            0.00
date_police_notified              0.00
prim_contributory_cause           0.00
sec_contributory_cause            0.00
street_no                         0.00
street_direction                  0.00
street_name                       0.00
beat_of_occurrence                0.00
photos_taken_i                   98.63
statements_taken_i               97.70
dooring_i                        99.68
work_zone_i                      99.44
work_zone_type                   99.57
workers_present_i                99.86
num_units                         0.00
most_severe_injury                0.22
injuries_total                    0.22
injuries_fatal                    0.22
injuries_incapacitating           0.22
injuries_non_incapacitating       0.22
injuries_reported_not_evident     0.22
injuries_no_indication            0.22
injuries_unknown                  0.22
crash_hour                        0.00
crash_day_of_week                 0.00
crash_month                       0.00
latitude                          0.72
longitude                         0.72
location                          0.72
dtype: float64

In [8]:
columns_with_missing_data = missing_percentage[missing_percentage > 50]
list(columns_with_missing_data.index)

['crash_date_est_i',
 'lane_cnt',
 'intersection_related_i',
 'not_right_of_way_i',
 'hit_and_run_i',
 'photos_taken_i',
 'statements_taken_i',
 'dooring_i',
 'work_zone_i',
 'work_zone_type',
 'workers_present_i']

Features with >50% Null values:
 'CRASH_DATE_EST_I',
 'LANE_CNT',
 'INTERSECTION_RELATED_I',
 'NOT_RIGHT_OF_WAY_I',
 'HIT_AND_RUN_I',
 'PHOTOS_TAKEN_I',
 'STATEMENTS_TAKEN_I',
 'DOORING_I',
 'WORK_ZONE_I',
 'WORK_ZONE_TYPE',
 'WORKERS_PRESENT_I'

In [9]:
crashes.notna().sum()

crash_record_id                  901139
crash_date_est_i                  66510
crash_date                       901139
posted_speed_limit               901139
traffic_control_device           901139
device_condition                 901139
weather_condition                901139
lighting_condition               901139
first_crash_type                 901139
trafficway_type                  901139
lane_cnt                         199022
alignment                        901139
roadway_surface_cond             901139
road_defect                      901139
report_type                      873088
crash_type                       901139
intersection_related_i           206980
not_right_of_way_i                41028
hit_and_run_i                    282609
damage                           901139
date_police_notified             901139
prim_contributory_cause          901139
sec_contributory_cause           901139
street_no                        901139
street_direction                 901135
street_name                      901138
beat_of_occurrence               901134
photos_taken_i                    12318
statements_taken_i                20735
dooring_i                          2855
work_zone_i                        5032
work_zone_type                     3885
workers_present_i                  1297
num_units                        901139
most_severe_injury               899146
injuries_total                   899160
injuries_fatal                   899160
injuries_incapacitating          899160
injuries_non_incapacitating      899160
injuries_reported_not_evident    899160
injuries_no_indication           899160
injuries_unknown                 899160
crash_hour                       901139
crash_day_of_week                901139
crash_month                      901139
latitude                         894614
longitude                        894614
location                         894614
dtype: int64

In [10]:
for feature in columns_with_missing_data.index:
    print(f"Value counts for column '{feature}':")
    print(crashes[feature].value_counts())
    print("\n")

Value counts for column 'crash_date_est_i':
y    57974
n     8536
Name: crash_date_est_i, dtype: int64


Value counts for column 'lane_cnt':
2.0          91162
4.0          49589
1.0          32550
3.0           8678
0.0           8032
6.0           4502
5.0           1940
8.0           1908
7.0            184
10.0           162
99.0           108
9.0             66
11.0            30
12.0            29
20.0            15
22.0            13
15.0             7
16.0             7
14.0             5
30.0             5
40.0             4
60.0             3
21.0             3
25.0             2
100.0            2
902.0            1
24.0             1
80.0             1
218474.0         1
45.0             1
17.0             1
299679.0         1
19.0             1
400.0            1
13.0             1
1191625.0        1
35.0             1
433634.0         1
41.0             1
28.0             1
44.0             1
Name: lane_cnt, dtype: int64


Value counts for column 'intersection_related_i':
y    197110
n      9870
Name: intersection_related_i, dtype: int64


Value counts for column 'not_right_of_way_i':
y    37261
n     3767
Name: not_right_of_way_i, dtype: int64


Value counts for column 'hit_and_run_i':
y    270506
n     12103
Name: hit_and_run_i, dtype: int64


Value counts for column 'photos_taken_i':
y    9278
n    3040
Name: photos_taken_i, dtype: int64


Value counts for column 'statements_taken_i':
y    16978
n     3757
Name: statements_taken_i, dtype: int64


Value counts for column 'dooring_i':
y    1919
n     936
Name: dooring_i, dtype: int64


Value counts for column 'work_zone_i':
y    3885
n    1147
Name: work_zone_i, dtype: int64


Value counts for column 'work_zone_type':
construction    2696
unknown          546
maintenance      401
utility          242
Name: work_zone_type, dtype: int64


Value counts for column 'workers_present_i':
y    1150
n     147
Name: workers_present_i, dtype: int64

In [11]:
# Calculate the percentage of missing values for each column
missing_percentage = (crashes.isna().sum() / len(crashes)) * 100

# Filter columns with more than 80% missing values
columns_to_drop = missing_percentage[missing_percentage > 80].index

# Drop these columns from the dataframe
crashes_cleaned = crashes.drop(columns=columns_to_drop)

# Display the cleaned dataframe (optional)
crashes_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901139 entries, 0 to 901138
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_record_id                901139 non-null  object
 1   crash_date                     901139 non-null  object
 2   posted_speed_limit             901139 non-null  int64
 3   traffic_control_device         901139 non-null  object
 4   device_condition               901139 non-null  object
 5   weather_condition              901139 non-null  object
 6   lighting_condition             901139 non-null  object
 7   first_crash_type               901139 non-null  object
 8   trafficway_type                901139 non-null  object
 9   lane_cnt                       199022 non-null  float64
 10  alignment                      901139 non-null  object
 11  roadway_surface_cond           901139 non-null  object
 12  road_defect                    901139 non-null  object
 13  report_type                    873088 non-null  object
 14  crash_type                     901139 non-null  object
 15  intersection_related_i         206980 non-null  object
 16  hit_and_run_i                  282609 non-null  object
 17  damage                         901139 non-null  object
 18  date_police_notified           901139 non-null  object
 19  prim_contributory_cause        901139 non-null  object
 20  sec_contributory_cause         901139 non-null  object
 21  street_no                      901139 non-null  int64
 22  street_direction               901135 non-null  object
 23  street_name                    901138 non-null  object
 24  beat_of_occurrence             901134 non-null  float64
 25  num_units                      901139 non-null  int64
 26  most_severe_injury             899146 non-null  object
 27  injuries_total                 899160 non-null  float64
 28  injuries_fatal                 899160 non-null  float64
 29  injuries_incapacitating        899160 non-null  float64
 30  injuries_non_incapacitating    899160 non-null  float64
 31  injuries_reported_not_evident  899160 non-null  float64
 32  injuries_no_indication         899160 non-null  float64
 33  injuries_unknown               899160 non-null  float64
 34  crash_hour                     901139 non-null  int64
 35  crash_day_of_week              901139 non-null  int64
 36  crash_month                    901139 non-null  int64
 37  latitude                       894614 non-null  float64
 38  longitude                      894614 non-null  float64
 39  location                       894614 non-null  object
dtypes: float64(11), int64(6), object(23)
memory usage: 275.0+ MB

In [12]:
features_to_remove = ['date_police_notified', 
                     'crash_type',
                     'street_no',
                     'injuries_unknown',
                     'roadway_surface_cond',
                     'weather_condition']

In [13]:
crashes_cleaned = crashes.drop(columns=features_to_remove)

In [14]:
crashes_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901139 entries, 0 to 901138
Data columns (total 42 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_record_id                901139 non-null  object
 1   crash_date_est_i               66510 non-null   object
 2   crash_date                     901139 non-null  object
 3   posted_speed_limit             901139 non-null  int64
 4   traffic_control_device         901139 non-null  object
 5   device_condition               901139 non-null  object
 6   lighting_condition             901139 non-null  object
 7   first_crash_type               901139 non-null  object
 8   trafficway_type                901139 non-null  object
 9   lane_cnt                       199022 non-null  float64
 10  alignment                      901139 non-null  object
 11  road_defect                    901139 non-null  object
 12  report_type                    873088 non-null  object
 13  intersection_related_i         206980 non-null  object
 14  not_right_of_way_i             41028 non-null   object
 15  hit_and_run_i                  282609 non-null  object
 16  damage                         901139 non-null  object
 17  prim_contributory_cause        901139 non-null  object
 18  sec_contributory_cause         901139 non-null  object
 19  street_direction               901135 non-null  object
 20  street_name                    901138 non-null  object
 21  beat_of_occurrence             901134 non-null  float64
 22  photos_taken_i                 12318 non-null   object
 23  statements_taken_i             20735 non-null   object
 24  dooring_i                      2855 non-null    object
 25  work_zone_i                    5032 non-null    object
 26  work_zone_type                 3885 non-null    object
 27  workers_present_i              1297 non-null    object
 28  num_units                      901139 non-null  int64
 29  most_severe_injury             899146 non-null  object
 30  injuries_total                 899160 non-null  float64
 31  injuries_fatal                 899160 non-null  float64
 32  injuries_incapacitating        899160 non-null  float64
 33  injuries_non_incapacitating    899160 non-null  float64
 34  injuries_reported_not_evident  899160 non-null  float64
 35  injuries_no_indication         899160 non-null  float64
 36  crash_hour                     901139 non-null  int64
 37  crash_day_of_week              901139 non-null  int64
 38  crash_month                    901139 non-null  int64
 39  latitude                       894614 non-null  float64
 40  longitude                      894614 non-null  float64
 41  location                       894614 non-null  object
dtypes: float64(10), int64(5), object(27)
memory usage: 288.8+ MB

In [15]:
# Convert the 'crash_date' column to datetime if it's not already in that format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Get the earliest and latest entry in the 'crash_date' feature
earliest_date = crashes['crash_date'].min()
latest_date = crashes['crash_date'].max()

# Print the results
print(f"Earliest crash date: {earliest_date}")
print(f"Latest crash date: {latest_date}")

Earliest crash date: 2013-03-03 16:48:00
Latest crash date: 2024-12-12 21:58:00

In [16]:
# Group by longitude, latitude, and crash_date and count occurrences
duplicates = crashes.groupby(['longitude', 'latitude', 'crash_date']).size().reset_index(name='count')

# Filter for entries where the count is greater than 1 (duplicates)
duplicates = duplicates[duplicates['count'] > 1]

# Display the duplicates
duplicates

        longitude   latitude          crash_date  count
315    -87.905309  41.976201 2017-11-12 21:40:00      2
572    -87.905309  41.976201 2019-08-18 19:50:00      2
855    -87.905309  41.976201 2021-04-01 23:30:00      2
921    -87.905309  41.976201 2021-08-07 17:30:00      2
1058   -87.905309  41.976201 2022-03-11 11:45:00      2
...           ...        ...                 ...    ...
888976 -87.542451  41.651021 2018-05-24 05:30:00      2
889457 -87.540442  41.736699 2021-08-08 03:40:00      2
889974 -87.540034  41.659043 2019-01-27 01:20:00      2
890023 -87.540032  41.651754 2024-01-03 12:30:00      2
892479 -87.535135  41.699012 2019-05-28 14:30:00      2

[585 rows x 4 columns]

Steps:
1. make feature names and all string values lower case for easier readability
2. remove features with more than 80% null values
2. remove `INJURIES_UNKNOWN` b/c only 1 value: 0.0
3. remove STREET_NUMBER. Not relevant
4. Chooose 1: roadway surface cond vs. weather... redundant
5.  crash type... not helpful information
6.  remove DATE_POLICE_NOTIFIED... high cardinality, not helpful
7. remove weather condition... not something CDOT has control over
8. possibly remove latitude and longitude if already have location which is the point of them
9. Change all Y/N responses to 1s and 0s
10. remove remaining rows with null values

### Vehicles

In [17]:
vehicles = pd.read_csv('./data/Traffic_Crashes_-_Vehicles_20241213.csv', low_memory = False)
vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1717556,7b1763088507f77e0e552c009a6bf89a4d6330c7527706...,12/06/2023 03:24:00 PM,1,DRIVER,NaN,1634931.0,NaN,NISSAN,SENTRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717574,2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...,12/06/2023 04:00:00 PM,2,DRIVER,NaN,1634978.0,NaN,CHRYSLER,SEBRING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1717579,a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...,12/06/2023 04:30:00 PM,1,DRIVER,NaN,1634948.0,NaN,SUBARU,OUTBACK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1720118,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,1,DRIVER,NaN,1637401.0,NaN,TOYOTA,RAV4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720119,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,2,DRIVER,NaN,1637408.0,NaN,SUBARU,OUTBACK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN